flow.json
[
    {
        "id": "eb1d3a3a0e609b13",
        "type": "tab",
        "label": "Interview questions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9eaea44c118a9de",
        "type": "http in",
        "z": "eb1d3a3a0e609b13",
        "name": "",
        "url": "/createInterviewQuestions",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "60ea7c4b5779f1d5"
            ]
        ]
    },
    {
        "id": "60ea7c4b5779f1d5",
        "type": "function",
        "z": "eb1d3a3a0e609b13",
        "name": "OpenAI API properties",
        "func": "\n//const api_key = global.get('process_env').OPENAI_API\nconst api_key = msg.payload.key;\nconst content = msg.payload.text;\n\n// OpenAI API properties\nconst settings = {\n    model: \"text-davinci-003\",\n    prompt: content,\n    max_tokens: 150,\n    temperature: 0.5,\n    top_p: 1.0,\n    frequency_penalty: 0.0,\n    presence_penalty: 0.0,\n    stop: [\"###\"]\n};\n\nif (api_key) {\n    msg.url = 'https://api.openai.com/v1/completions';\n    msg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer ${api_key}`,\n    };\n    msg.payload = settings;\n    msg.settings = settings;\n    return [msg, null];\n} else {\n    msg.payload = settings;\n    msg.settings = settings;\n    return [null, msg];\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            [
                "aec0476293cb578d"
            ],
            [
                "8b89dbb58de1fdb0"
            ]
        ]
    },
    {
        "id": "aec0476293cb578d",
        "type": "http request",
        "z": "eb1d3a3a0e609b13",
        "name": "OpenAI API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 80,
        "wires": [
            [
                "d2eb0e8fa82f5e48"
            ]
        ]
    },
    {
        "id": "d2eb0e8fa82f5e48",
        "type": "function",
        "z": "eb1d3a3a0e609b13",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\nif (!msg.payload.error) {\n    msg.payload = {\n        succsess: true,\n        text: msg.payload.choices[0].text,\n        settings: convertPayloadToObject(msg.settings)\n    }\n} else {\n    msg.payload = {\n        succsess: false,\n        payload: msg.payload.error.code\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 80,
        "wires": [
            [
                "abb77c9d6d84920a"
            ]
        ]
    },
    {
        "id": "abb77c9d6d84920a",
        "type": "http response",
        "z": "eb1d3a3a0e609b13",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 80,
        "wires": []
    },
    {
        "id": "8b89dbb58de1fdb0",
        "type": "function",
        "z": "eb1d3a3a0e609b13",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\n\nmsg.payload = {\n    settings: convertPayloadToObject(msg.settings)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [
            [
                "d5b7d77223e5264e"
            ]
        ]
    },
    {
        "id": "d5b7d77223e5264e",
        "type": "http response",
        "z": "eb1d3a3a0e609b13",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 120,
        "wires": []
    }
]